//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
    .gallery_piece_form {
        display: grid;
        font-size: $medium;
        grid-template-columns: 100%;
        &__input {
            font-size: $midlarge;
            margin: $xsmall 0 $small;
            padding: $xsmall 0;
        }
        &__select {
            font-size: $midlarge;
            margin: $xsmall 0 $small;
        }
        &__button {
            margin-top: $small;
            width: 100%;
        }
        &__dimensions {
            display: grid;
            grid-gap: $xsmall;
            grid-template-columns: 1fr 1fr 1fr;
            justify-items: center;
            input {
                width: 100%;
            }
            div {
                align-content: center;
                display: grid;
            }
        }
    }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: 40.063em) {}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: 64.063em) {
    .gallery_piece_form {
        width: 25%;
        &__button {
            width: inherit;
        }
        &__dimensions {
            grid-gap: $xsmall;
            grid-template-columns: 1fr 1fr 1fr;
            justify-items: left;
        }
    }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: 90.063em) {}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: 120.063em) {}
