//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
    .gallery_piece_details_content {
        align-self: center;
        padding-bottom: $medium;
        &__name,
        &__price {
            font-size: $large;
        }
        &__dimensions {
            display: grid;
            margin: $small 0;
            &_title {
                font-size: $midlarge;
            }
            &_values {
                font-size: $medium;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
        &__description {
            margin: $small 0 $medium;
            &_title {
                font-size: $midlarge;
            }
            &_value {
                font-size: $medium;
                word-break: break-all;
            }
        }
    }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: 40.063em) {}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: 64.063em) {
    .gallery_piece_details_content {
        align-self: center;
        padding-bottom: $medium;
        &__name,
        &__price {
            font-size: $large;
        }
        &__dimensions {
            display: grid;
            margin: $medium 0;
            &_title {
                font-size: $midlarge;
            }
            &_values {
                font-size: $medium;
                display: grid;
                margin: $xsmall auto 0;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: $small;
                width: 50%;
            }
        }
        &__description {
            margin: $small auto;
            width: 75%;
            &_title {
                font-size: $midlarge;
            }
            &_value {
                font-size: $medium;
            }
        }
    }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: 90.063em) {}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: 120.063em) {}
