@import "../variables.scss";
@import "../typography.scss";

//Small screens - MOBILE
@media only screen {
  .react-select {
    &-container {
      @include font-type($mainFont, $medium);

      border: $border;
      border-radius: 5px;
      color: $fontGrey;
      cursor: pointer;
      text-align: left;
    }
    &-container &__menu {
      border: $border;
      margin: 0;
      &-list {
        padding: 0;
      }
    }
    &-container &__option {
      @include font-type($secFont, $medium);
      &--is-selected,
      &--is-focused {
        background-color: $lightGrey;
        color: $darkGrey;
      }
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $mediumScreen) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $largeScreen) {
}

//XLarge screens
@media only screen and (min-width: $xLargeScreen) {
}

//XXLarge screens
@media only screen and (min-width: $xxLargeScreen) {
}
