{
    "presets": [
        "env",
        "react"
    ],
    "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread",
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                "alias": {
                    "Actions": "./src/actions",
                    "Auth": "./src/components/auth",
                    "Content": "./src/content",
                    "Core": "./src/components/core",
                    "Firebase": "./src/firebase",
                    "Gallery": "./src/components/gallery",
                    "GalleryPiece": "./src/components/galleryPiece",
                    "Manager": "./src/components/manager",
                    "Paypal": "./src/components/paypal",
                    "Reducers": "./src/reducers",
                    "Routers": "./src/routers",
                    "Selectors": "./src/selectors",
                    "Shared": "./src/components/shared",
                    "Src": "./src",
                    "Styles": "./src/styles",
                    "Tools": "./src/tools",
                    "Utilities": "./src/components/utilities",
                }
            }
        ]
    ]
}
