@import "../../styles/variables.scss";
@import "../../styles/typography.scss";

//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
  .contact-container {
    background-image: url("/images/contact/contact_container_mobile.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: $large $small;
    &__email {
      background: white;
      display: grid;
      height: fit-content;
      margin: 0 auto $large;
      opacity: 0.95;
      padding: $medium $small;
      width: fit-content;
      &-title {
        @include font-type($mainFont, $large);

        margin-bottom: $small;
        text-align: center;
      }
    }
    &__phone {
      margin: 0 auto;
      width: fit-content;
    }
  }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: 40.063em) {
}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: 64.063em) {
  .contact-container {
    background-image: url("/images/contact/contact_container_desktop.png");
    &__phone {
      margin: 0 auto;
      width: fit-content;
    }
  }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: 90.063em) {
}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: 120.063em) {
}
