@import "../../styles/variables.scss";
@import "../../styles/typography.scss";

//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
  .payment-confirmation-container {
    background-color: $superLightGrey;
    display: grid;
    flex: 1 1 auto;
    justify-content: center;
    padding: $medium $small;
    &__content {
      background-color: white;
      display: grid;
      filter: $dropShadow;
      justify-items: center;
      padding: $large;
      &-text {
        margin-bottom: $medium;
        text-align: center;
      }
    }
  }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: 40.063em) {
}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: 64.063em) {
  .payment-confirmation-container {
    padding: $large;
    &__content {
      padding: $large;
      &-text {
        margin-bottom: $medium;
      }
    }
  }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: 90.063em) {
}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: 120.063em) {
}
