@import "../../styles/variables.scss";
@import "../../styles/typography.scss";

//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
  .landing-container {
    &__splash {
      align-items: center;
      background-image: url("/images/landing/splash.jpg");
      background-position: center;
      background-size: cover;
      display: grid;
      min-height: 94vh;
      justify-content: center;
      width: 100%;
      &-name {
        @include font-type($accentFont, $xlarge, bold);
        background-color: white;
        color: $darkMainColor;
        margin-top: 30vh;
        padding: $small;
        text-align: center;
        min-width: 100vw;
      }
      &-link {
        align-self: flex-start;
        margin: 0 auto;
        padding: 0 $small;
      }
    }
  }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: 40.063em) {
}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: 64.063em) {
  .landing-container {
    display: flex;
    flex: 1 1 auto;
    padding: 10vh 0 5vh;
    &__splash {
      background-image: url("/images/landing/splash.jpg");
      min-height: auto;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      &-name {
        @include font-type($accentFont, $xxlarge);
      }
    }
  }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: 90.063em) {
}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: 120.063em) {
}
