@import "../../styles/variables.scss";
@import "../../styles/typography.scss";

//Small screens - MOBILE
@media only screen {
  .notification-bar {
    @include font-type($secFont, $medium, bold);

    color: $fontGrey;
    display: flex;
    &__text {
      flex: 1 1 auto;
      text-align: center;
    }
    &__clear {
      position: absolute;
      right: $small;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $mediumScreen) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $largeScreen) {
  .notification-bar {
    @include font-type($secFont, $midlarge, bold);
  }
}

//XLarge screens
@media only screen and (min-width: $xLargeScreen) {
}

//XXLarge screens
@media only screen and (min-width: $xxLargeScreen) {
}
