@import "./variables.scss";
@import "./typography.scss";

//Small screens - MOBILE
@media only screen {
  .inbox {
    display: grid;
    flex: 1 1 auto;
    grid-gap: $small;
    grid-template-columns: 1fr 4fr;
    padding: $small;
    &__list {
      background-color: white;
      display: grid;
      filter: $dropShadow;
      grid-template-rows: auto 10fr;
      width: 100%;
    }
    &__details {
      background-color: white;
      filter: $dropShadow;
      &-empty {
        @extend .inbox__details;

        @include font-type($mainFont, $midlarge);

        align-items: center;
        display: grid;
        text-align: center;
      }
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $mediumScreen) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $largeScreen) {
}

//XLarge screens
@media only screen and (min-width: $xLargeScreen) {
}

//XXLarge screens
@media only screen and (min-width: $xxLargeScreen) {
}
