@import "./variables.scss";
@import "./typography.scss";

//Small screens - MOBILE
@media only screen {
  .inbox {
    display: grid;
    flex: 1 1 auto;
    grid-gap: $small;
    &__list {
      background-color: white;
      display: grid;
      filter: $dropShadow;
      grid-template-rows: auto 10fr;
      width: 100%;
    }
    &__details {
      width: 100%;
      word-break: break-all;
    }
    // This must stay at the bottom to be applied last
    &__mobile {
      display: none;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $mediumScreen) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $largeScreen) {
  .inbox {
    grid-template-columns: 1fr 4fr;
    &__details {
      background-color: transparent;
      filter: none;
      &-empty {
        @include font-type($mainFont, $midlarge);

        align-items: center;
        background-color: white;
        display: grid;
        filter: $dropShadow;
        text-align: center;
      }
    }
    // This must stay at the bottom to be applied last
    &__mobile {
      display: inherit;
    }
  }
}

//XLarge screens
@media only screen and (min-width: $xLargeScreen) {
}

//XXLarge screens
@media only screen and (min-width: $xxLargeScreen) {
}
