@font-face {
  font-family: "Dancing Script";
  src: url("../fonts/DancingScript.woff") format("woff"),
    url("../fonts/DancingScript.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
