@import "../../styles/variables.scss";
@import "../../styles/typography.scss";

//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
  .gallery-piece-container {
    background-color: $containerBackgroundColor;
    display: grid;
    flex: 1 1 auto;
    grid-gap: $small;
    grid-template-areas: "gallery_piece_image" "gallery_piece_details";
    padding: $small;
  }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: 40.063em) {
}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: 64.063em) {
  .gallery-piece-container {
    align-content: center;
    grid-template-areas: "gallery_piece_details gallery_piece_image";
    grid-template-columns: 1fr 1fr;
    padding: 0 10%;
  }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: 90.063em) {
}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: 120.063em) {
}
