@import "../../styles/variables.scss";
@import "../../styles/typography.scss";

//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
  .nav-menu {
    align-items: center;
    background-color: $darkMainColor;
    display: flex;
    height: 100%;
    justify-content: space-between;
    left: 0;
    padding: 0 $small;
    position: sticky;
    top: 0;
    z-index: 100;
    .favicon {
      color: white;
      cursor: pointer;
    }
    &__brand {
      @include font-type($accentFont, $midlarge);

      color: white;
      letter-spacing: 0.1rem;
      text-decoration: none;
    }
    &__links {
      align-items: center;
      background-color: $darkMainColor;
      clip-path: circle(0 at 100% -10%);
      display: grid;
      height: calc(100vh - 60px);
      left: 0;
      padding: 10% 0;
      position: fixed;
      text-align: center;
      transition: all 1s ease-out;
      top: 60px;
      width: 100%;
      &.nav-menu__links--open {
        clip-path: circle(150vmax at 100% -10%);
        z-index: 100;
      }
    }
    &__link {
      @include font-type($secFont, $medium);

      color: white;
      letter-spacing: 0.1rem;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: 40.063em) {
}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: 64.063em) {
  .nav-menu {
    &__toggle {
      display: none;
    }
    &__links {
      clip-path: unset;
      display: flex;
      height: inherit;
      justify-content: space-between;
      padding: 0;
      position: inherit;
      width: 35vmax;
    }
    &__link {
      margin-top: $xsmall;
      padding-bottom: $xsmall;
      &:hover {
        border-bottom: 1px solid white;
      }
    }
  }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: 90.063em) {
  .nav-menu {
    &__links {
      width: 25vmax;
    }
  }
}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: 120.063em) {
}
