@import "../../styles/variables.scss";
@import "../../styles/typography.scss";

//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
  .nav-menu {
    left: 0;
    position: sticky;
    top: 0;
    z-index: 100;
    .favicon {
      color: white;
      cursor: pointer;
    }
    &__header {
      align-items: center;
      background-color: $darkMainColor;
      display: flex;
      justify-content: space-between;
      height: 100%;
      padding: 0 $small;
    }
    &__brand {
      @include font-type($accentFont, $midlarge);

      color: white;
      letter-spacing: 0.1rem;
      text-decoration: none;
    }
    &__links {
      background-color: $darkMainColor;
      height: 100%;
      position: fixed;
      right: 0;
      width: 100%;
      clip-path: circle(0 at 100% -10%);
      transition: all 1s ease-out;
      &.nav-menu__links--open {
        clip-path: circle(100vmax at 100% -20%);
      }
      &-wrapper {
        position: absolute;
        right: 0;
        width: 100vmin;
        // width: 100%;
      }
    }
    &__link {
      color: white;
      display: block;
      font-size: $medium;
      padding: $small;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: 40.063em) {
}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: 64.063em) {
  .nav-menu {
    &__links {
      background-color: $darkMainColor;
      height: 100%;
      position: fixed;
      right: 0;
      width: 100%;
      clip-path: circle(0 at 100% -10%);
      transition: all 1s ease-out;
      &.nav-menu__links--open {
        clip-path: circle(60% at 100% -20%);
      }
      &-wrapper {
        width: 25%;
      }
    }
  }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: 90.063em) {
}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: 120.063em) {
}
