@import "../../styles/variables.scss";
@import "../../styles/typography.scss";

//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
  .about-us {
    margin: $small;
    text-align: center;
    &__title {
      @include font-type($mainFont, $large, bold);

      margin-bottom: $small;
    }
    &__text {
      @include font-type($mainFont, $medium);

      color: $fontGrey;
      line-height: $lineHeight;
      margin-bottom: $small;
    }
  }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: $mediumScreen) {
}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: $largeScreen) {
  .about-us {
    margin: $large 10%;
    text-align: inherit;
    &__title {
      margin-bottom: $medium;
    }
    &__text {
      margin-bottom: $medium;
    }
  }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: $xLargeScreen) {
}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: $xxLargeScreen) {
}
