//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
    .about_page {
        display: grid;
        font-family: $mainFont;
        font-size: $medium;
        padding: $medium;
        &__youtube {
            display: flex;
            justify-content: center;
        }
    }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: 40.063em) {}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: 64.063em) {
    .about_page {
        grid-gap: $small;
        grid-template-columns: 50% 50%;
        padding: $medium $large;
        &__youtube {
            align-items: center;
            padding: 0 $large;
        }
    }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: 90.063em) {}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: 120.063em) {}
