/*
    Small screens - MOBILE
    max-width 641, small screens
*/

@media only screen {
    .landing_page {
        &__background_image {
            background-image: url('/images/landing_page_background.jpg');
            background-position: center;
            background-size: cover;
            left: 0;
            min-height: 100%;
            min-width: 100%;
            position: fixed;
            top: 0;
            z-index: -10;
        }
        &_content {
            display: grid;
            grid-template-rows: 50vh auto 7vh auto 20vh;
            &__company_name {
                align-content: center;
                background-color: white;
                color: $secColor;
                display: grid;
                font-family: $accentFont;
                font-size: 10vw;
                justify-content: center;
                padding: $medium;
            }
            &__gallery {
                align-content: center;
                display: grid;
                justify-content: center;
            }
            &__nav_link {
                background: white;
                border: 3px solid $secColor;
                border-radius: 4px;
                color: $secColor;
                font-family: $secFont;
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
                &:hover {
                    background: $secColor;
                    color: white;
                    transition: background .3s ease-in-out;
                }
                &.action {
                    font-size: 4vw;
                    margin: 0 $small $small;
                    padding: $small $medium;
                }
                &.secondary {
                    font-size: 3vw;
                    margin: $small auto;
                    padding: $xsmall $small;
                    width: 80%;
                }
            }
        }
    }
}

/*
    Medium screens - TABLET
    min-width 641, medium screens
*/

@media only screen and (min-width: 40.063em) {
    .landing_page {
        &_content {
            display: grid;
            &__company_name {
                font-size: 7vw;
                padding: $large;
            }
            &__nav_link {
                &.action {
                    font-size: $midlarge;
                    margin: 0 $small $medium;
                }
                &.secondary {
                    font-size: $medium;
                    margin: $medium auto;
                    width: 75%;
                }
            }
        }
    }
}

/*
    Large screens - DESKTOP
    min-width 1025px, large screens
*/

@media only screen and (min-width: 64.063em) {
    .landing_page {
        &_content {
            display: grid;
            &__company_name {
                font-size: $xxlarge;
            }
            &__nav_link {
                &.action {
                    font-size: $midlarge;
                    margin: $small;
                    padding: $midlarge $large;
                }
                &.secondary {
                    font-size: $medium;
                    margin: $small auto;
                    padding: $small $medium;
                    width: 80%;
                }
            }
        }
    }
}

/*
    XLarge screens
    min-width 1441px, xlarge screens
*/

@media only screen and (min-width: 90.063em) {}

/*
    XXLarge screens
    min-width 1921px, xlarge screens
*/

@media only screen and (min-width: 120.063em) {}
