@import "../../styles/variables.scss";
@import "../../styles/typography.scss";

//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
  .gallery-piece-image {
    align-content: center;
    background-color: white;
    display: grid;
    filter: $dropShadow;
    grid-area: gallery_piece_image;
    justify-content: center;
    padding: $small;
    width: 100%;
    img {
      max-height: 50vh;
      object-fit: scale-down;
      width: 100%;
    }
  }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: 40.063em) {
}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: 64.063em) {
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: 90.063em) {
}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: 120.063em) {
}
