@import "../variables.scss";
@import "../typography.scss";

//Small screens - MOBILE
@media only screen {
  .inbox {
    display: grid;
    flex: 1 1 auto;
    &__sidebar {
      display: grid;
      grid-gap: $small;
      grid-template-rows: auto 1fr;
      &-controls {
        background-color: white;
        display: grid;
        filter: $dropShadow;
        grid-gap: $xsmall;
        padding: $small;
      }
      &-list {
        background-color: white;
        filter: $dropShadow;
      }
    }
    &__nav-back {
      margin: $medium 0;
      width: 100%;
    }
    // This must stay at the bottom to be applied last
    &__mobile {
      display: none;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $mediumScreen) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $largeScreen) {
  .inbox {
    align-self: center;
    display: grid;
    grid-gap: $small;
    grid-template-columns: 1fr 2.5fr;
    min-height: 100%;
    padding: 0 15%;
    &__sidebar {
      max-height: 100%;
      // max-height: calc(95vh - 110px);
      &-controls {
      }
      &-list {
        overflow: hidden;
      }
    }
    &__nav-back {
      display: none;
    }
    // This must stay at the bottom to be applied last
    &__mobile {
      display: inherit;
    }
  }
}

//XLarge screens
@media only screen and (min-width: $xLargeScreen) {
}

//XXLarge screens
@media only screen and (min-width: $xxLargeScreen) {
}
