//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
    .gallery_list_item {
        background-color: white;
        box-shadow: 0 3px 4px rgba(0, 0, 0, .25);
        display: grid;
        &__image {
            display: grid;
            justify-content: center;
            width: 100%;
            img {
                object-fit: scale-down;
                width: 100%;
            }
        }
        &__content {
            display: grid;
            font-family: $mainFont;
            font-size: $midlarge;
            padding: $medium;
            text-align: center;
        }
        &__link {
            font-family: $secFont;
            font-size: $medium;
            margin: $small auto 0;
            width: 70%;
        }
    }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: 40.063em) {}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: 64.063em) {
    .gallery_list_item {
        grid-template-rows: 2fr 0.5fr;
        &__image {
            align-content: center;
        }
        &__link {
            width: 50%;
        }
    }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: 90.063em) {}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: 120.063em) {}
