//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
    .gallery_container {
        font-size: $large;
        padding: $large 10%;
        text-align: center;
        &__title {
            font-family: $mainFont;
            margin-bottom: $small;
        }
        &__filters {
            display: grid;
            grid-gap: $small;
            grid-template-areas: "gallery_text_filter" "gallery_category_filter";
            margin: 0 auto $large;
        }
    }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: 40.063em) {}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: 64.063em) {
    .gallery_container {
        min-height: 95vh;
        &__filters {
            display: grid;
            grid-gap: $xsmall;
            grid-template-areas: "gallery_text_filter gallery_category_filter";
            margin: 0 auto $large;
            width: 35%;
        }
    }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: 90.063em) {}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: 120.063em) {}
