//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
    .inbox_container {
        display: grid;
        min-height: 95vh;
    }
    .inbox_widget {
        display: grid;
    }
    .inbox_list {
        background-color: white;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
        display: grid;
        grid-template-rows: 0.5fr 10fr;
        height: 100%;
        input {
            border: none;
            border-bottom: 1px solid $midLightGrey;
            margin: 0;
        }
        .nav_link {
            margin: 0;
        }
    }
    .inbox_details {
        display: grid;
        grid-gap: $small;
        grid-template-rows: 0.5fr 3fr;
        height: 100%;
        padding: $small;
    }
    .inbox_details_header {
        align-content: center;
        background-color: white;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
        color: $darkMainColor;
        display: grid;
        font-family: $secFont;
        padding: $small;
        text-align: center;
    }
    .inbox_details_header {
        &__text {
            margin-bottom: $small;
        }
        &__name {
            font-size: $midlarge;
            font-weight: 600;
            margin-bottom: $small;
        }
        &__price {
            font-size: $medium;
            margin-bottom: $xsmall;
        }
        &__sold {
            align-content: center;
            display: grid;
            font-size: $midlarge;
            text-align: center;
        }
    }
    .inbox_details_content {
        align-items: center;
        background-color: white;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
        display: flex;
        flex-flow: column;
        overflow-y: auto;
        padding: $small;
        &__link {
            font-size: $medium;
            grid-area: inbox_details_content_link;
            margin: 0 25% $small;
        }
        &__image {
            grid-area: inbox_details_content_image;
        }
    }
    .inbox_list {
        display: none;
    } // .inbox_details {
    // display: none;
    // }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: 40.063em) {}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: 64.063em) {
    .inbox_container {
        display: grid;
        min-height: 95vh;
        padding: $small 5%;
    }
    .inbox_widget {
        display: grid;
        grid-gap: $small;
        grid-template-columns: 20% 80%;
    }
    .inbox_list {
        background-color: white;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
        display: grid;
        grid-template-rows: 0.5fr 10fr;
        height: 100%;
        input {
            border: none;
            border-bottom: 1px solid $midLightGrey;
            margin: 0;
        }
        .nav_link {
            margin: 0;
        }
    }
    .inbox_details {
        display: grid;
        grid-gap: $small;
        grid-template-rows: 0.5fr 3fr;
        height: 100%;
    }
    .inbox_details_empty {
        align-content: center;
        background-color: white;
        display: grid;
        font-size: $midlarge;
        height: 100%;
        justify-content: center;
    }
    .inbox_details_header {
        align-content: center;
        background-color: white;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
        color: $darkMainColor;
        display: grid;
        font-family: $secFont;
        grid-template-columns: 50% 50%;
        padding: $small $medium;
    }
    .inbox_details_header {
        &__name {
            font-size: $midlarge;
            font-weight: 600;
            margin-bottom: $small;
        }
        &__price {
            font-size: $medium;
            margin-bottom: $xsmall;
        }
        &__sold {
            align-content: center;
            display: grid;
            font-size: $midlarge;
            text-align: center;
        }
    }
    .inbox_details_content {
        align-items: center;
        background-color: white;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
        display: grid;
        grid-gap: $small;
        grid-template-areas: "inbox_details_content_link inbox_details_content_image";
        grid-template-columns: 1fr 1fr;
        overflow-y: auto;
        padding: $large;
        &__link {
            font-size: $medium;
            grid-area: inbox_details_content_link;
            margin: 0 25%;
        }
        &__image {
            grid-area: inbox_details_content_image;
        }
    }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: 90.063em) {}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: 120.063em) {}
